.hero {
  padding: 102px 0 200px;
  background: url('../img/hero-bg.png') center/cover no-repeat;
}

.hero__container {
  position: relative;
}

.hero__content {
  max-width: 608px;
  display: flex;
  flex-direction: column;
  gap: 56px;
} 

.hero__title {
  font-family: Merriweather;
  font-size: 120px;
  line-height: 130%; /* 156px */
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.hero__min-title {
  display: inline-block;
  padding: 12px 16px;
  font-size: 18px;
  border-radius: 100px;
  background-color: #D3320F;
}

.hero__desc {
  font-size: 24px;
}

.hero__btn {
  align-self: flex-start;    
}

.hero__img {
  position: absolute;
  top: -123px;
  left: calc(100% - 991px);
}
